.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}

.office-card {
  margin: 24px auto;
  max-width: 400px;
}

.textRed {
  color: red;
}

.textGreen {
  color: green;
}
